
*{
    margin: 0;
    padding: 0;
    /* outline: none; */
}

body{
    background: #352E3E;
    color: white;
}

input{
    background-color: #352E3E;
    color: white;
}


/* header */
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 15px 15px 30px 15px;

}
    .container-header a{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

 
#mostrarModal{
    height: 40px;
    padding: 0px 60px;
    font-size: 20px;
    margin-bottom: 15px;
    /* font-weight: bold; */
    /* border-radius: 7px; */
    /* border: none; */
} 



.contenedor-tiempo_ejecucion{
    display: none;
}

/* Botones principal */

.btn-detener{
    display:none;
}



/* Ventana Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-contenido {
    background-color: #fff;
    color: black;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 10px;
}

    .modal-contenido #modal-tittle{
        font-size: 30px;
        color: #454545;
        font-weight: bold;
        
    }

    .modal-header{
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.contenedor-tiempo{
    margin-top: 40px;
    margin-bottom: 40px;
}
    .contenedor-tiempo h2{
        margin-bottom: 25px;
        font-size: 25px;
        color: #454545;
    }
    .contenedor-tiempo label{
        font-size: 20px;
    }

    .contenedor-tiempo input{
        margin-right: 48.5px;
        width: 80pxx;
        background: #fff;
        border: none;
        border-bottom: 1px solid #454545;
        color: black;
        font-size: 18px;
        outline: none;
        text-align: center;

    }
 
.contenedor-tiempo_descanso{
    margin-top: 40px;
    margin-bottom: 40px;
}   

    .contenedor-tiempo_descanso h2{
        margin-bottom: 25px;
        font-size: 25px;
        color: #454545;
    }
    .contenedor-tiempo_descanso label{
        font-size: 20px;
    }

    .contenedor-tiempo_descanso input{
        margin-right: 48.5px;
        width: 80px;
        background: #fff;
        border: none;
        border-bottom: 1px solid #454545;
        color: black;
        font-size: 18px;
        outline: none;
        text-align: center;

    }
.modal-more_options{
    margin-top: 40px;
}
.modal-more_options label{
    font-size: 20px;
}

.modal-more_options input{
    width: 80px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #454545;
    color: black;
    font-size: 18px;
    outline: none;
    text-align: center;
}

.cerrar {
    cursor: pointer;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.container-btn-modal{
margin-top: 30px;
}


/* tasks */

.container-task{
    background-color: #fff;
    color: black;
    padding: 15px;
    margin: 15px 5px;
    border-radius: 7px;
    opacity: 0.9;

}


.tarea-completada{
    border: 4px solid #198754;
}

.tarea-seleccionada{
    /* margin-left: 3px; */
    border-left: 9px solid #54595a;
    opacity: 1;
}




.container-task_options{
    display: none;
    margin-bottom: 8px !important
}




/* Main container */

.contenedor-principal{
    display: flex;       
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.contenedor-principal_borde{
    max-width: 60% !important;
    display: flex;       
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border: 3px solid white;
    padding: 80px 180px;
    border-radius: 10px;

}

.container-time{
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}


.container-buttons_time button{
 padding: 7px 55px;   
 margin: 20px 15px;
 font-size: 20px;
}

.btn-reiniciar{
    padding: 7px 40px !important;
}

.btn-iniciar{
    font-weight: bold;
    outline: none;
}

.container-pomodoro_count{
    margin-top: 40px;
    font-size: 20px;
    opacity: 0.6;
}

/* Crear tarea */

.contenedor-tareas h2{
 font-size: 45px;
 margin-top: 100px;
 margin-bottom: 90px;
}

.contenedor-crear_tareas{
text-align: center;
font-size: 25px;
}

.contenedor-crear_tareas input{
    border: none;
    border-bottom: 2px solid #fff;
    width: 34%;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-crear_tareas input:focus{
    outline: none;
}

    .contenedor-crear_tareas input:hover{
        border-bottom: 2px solid #cccccc;
    }

    .contenedor-crear_tareas input::placeholder{
        font-style: italic;

    }

#goal-task{
    opacity: 0.5;
    margin-right: 15px;
}

.task-number-setGoal{
/* opacity: 0.6; */
font-weight: bold;
margin-right: 30px;

}

.container-add-task_options{
width: 34%;
margin: 15px auto;
display: flex;
}

.container-add-task_options button i{
    color: white;
    font-size: 20px;
    
}

.container-add-task_options button {
    border: 1px solid white;
    padding: 5px 15px;
}

.container-add-task_options button:focus{
    box-shadow: none;    
}
.btn-climbGoal{
    margin-right: 15px;

}

.btn-addTask{
    margin-top: 80px;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 35px;
}

.container-tasks_main{
    text-align: center;
}

/* Bordes */


.borde-1{
/* margin-top: 30px; */
margin: 90px auto;
margin-bottom: 0px;
width: 60%;
}

.borde-2{
margin: 100px auto;
margin-bottom: 0px;
width: 60%;
}

hr{
    padding: 3px;
    color: white;
}

/* Contenedor de tareas */

.container-tasks{
display: flex;
flex-direction: column;
align-items: center;
}

.container-task{
    width: 60%;
}

.container-tasks-first{
display: flex;
justify-content: space-between;
align-items: center;
}


.btn-modify-task{
    margin-left: 8px;
    padding: 3px 18px;
    font-size: 20px;

}
.btn-select-task{
    margin-left: 8px;
    margin-right: 10px;
    padding: 3px 12px;
    font-size: 20px;
}

#span{
    margin-left: 30px;
    font-size: 20px;

}

#span input{
    width: 70%;
    border: none;
    border-bottom: 2px solid #454545;
    text-align: center;
    background-color: white;
    color: #454545;

}

#span input:focus{
    outline: none;
}

#span input:hover{
    border-color: #888;
}

.task-number-complete{
    margin-left: 40px;
    opacity: 0.8;
}

.task-number-goal{
    opacity: 0.8;
}

#barra{
    opacity: 0.8;
}


#completed-goal_modify{
    display: flex;
    align-items: center;
    margin-left: 30px;

}

#completed-goal_modify span{
    font-size: 18px;
    color: #454545;
}

.modify_completed{
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    background-color: #e9e9e9;
    width: 70px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: #454545;
    opacity: 0.8;
}

    .modify_completed:focus{
        outline: none;
    }


#barra-2{
 margin: 0px 20px;
}

.container-modify_goal{
    display: flex;
    align-items: center;
}

.buttons_raise_lower{
    margin-left: 20px;
}

    .buttons_raise_lower button{
        padding: 4px 15px;
    }

    .lower_goal-btn{
        margin-left: 7px;
    }

#buttons-modify{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-accept_modify{
    margin: 0 10px;
}

.btn-delete_task{
    margin-left: 30px;
}

/* MEDIA QUERYS */

/* Media query para pantallas con una resolución menor a 1024px */
@media (max-width: 1196px) {
    .container-buttons_time {
        display: flex;
        justify-content: center;
    }

    .container-time{
        width: 100%;
        text-align: center;
    }

    .contenedor-principal_borde{
        max-width: 70% !important;
        padding: 70px 100px;
    }
}


@media (max-width:850px){
    #span {
       width: 70%;
    }
}

/* padding: 80px 180px; */

 @media (max-width: 768px) {
    .contenedor-principal_borde{
        max-width: 85% !important;
        padding: 70px 50px;
        border-color: #352E3E;
    }

    .contenedor-crear_tareas input{
        width: 60%;
    }

    .container-add-task_options{
        display: flex;
        justify-content: center;
    }


    /* tasks */

    /* #span{
        margin-left: 30px;
        font-size: 20px;
    
    }

    
    #span input{
        width: 70%;
        border: none;
        border-bottom: 2px solid #454545;
        text-align: center;
        background-color: white;
        color: #454545;
    
    } */

    #span{
        margin-left: 5px;
        font-size: 20px;
    }

    .tittle_task{
        text-align: center;
    }

    .task-number-complete{
        margin-left: 15px;
    }
    

    
    .container-task{
        width: 80%;

    }
}  

@media (max-width: 600px) {

    #span{
        width: 60%;
    }
    #barra-2{
        display: none;
    }

    #completed-goal_modify{
        flex-direction: column;
        align-items: flex-start !important ; 
        margin-top: 40px;

    }

    #completed-modify{
        margin-bottom: 30px;
    }
}


@media (max-width: 534px) {

    .contenedor-principal_borde{
        max-width: 95% !important;
        padding: 70px 30px;
        /* border-color: ; */
    }

    .container-time{
        font-size: 70px;
    }

    .container-buttons_time{
        display: flex;
        flex-direction: column;
    }

    /* Crear tareas */

    /* .contenedor-crear_tareas input{
        border: none;
        border-bottom: 2px solid #fff;
        width: 34%;
        text-align: center;
        margin-bottom: 10px;
    } */

    .contenedor-crear_tareas input{
        width: 70%;
 
    }


    .container-buttons button{
        padding: 3px 10px;
    }


    #span input{
        width: 60%;
    }
}

@media (max-width: 400px) {
    .contenedor-principal_borde{
        max-width: 95% !important;
        padding: 70px 10px;
    }

    .container-time{
        font-size: 50px;
    }

    .container-buttons_time{
        display: flex;
        flex-direction: column;
    }

    /* tasks */

    .container-task{
        width: 95%;

    }

    #span input{
        width: 50%;
    }

    #buttons-modify{
        flex-direction: column;
    }

    #buttons-modify button {
        margin: 0;
        padding: 8px 70px;
    }

    #buttons-modify-success{
        display: flex;
        flex-direction: column;
    }

    #buttons-modify-success button{
        margin-top: 20px;
    }
}


@media (max-width: 340px) {

    #span{
        width: 50%;
    }

    #span input{
        width: 90%;
    }

    #completed-goal_modify{
        margin-left: 10px;

    }
}